<div class="filters" [ngClass]="{active: type === 'burger'}">
  <button (click)="handleFilter('burger')">
    <img src="https://cdn-icons-png.flaticon.com/512/2933/2933054.png" alt="burger">
  </button>
  <button (click)="handleFilter('chicken')">
    <img src="https://w7.pngwing.com/pngs/215/832/png-transparent-chicken-leg-computer-icons-chicken-as-food-chicken-animals-galliformes-chicken.png" alt="chicken">
  </button>
  <button (click)="handleFilter('taco')">
    <img src="https://cdn-icons-png.flaticon.com/512/2821/2821810.png" alt="taco">
  </button>
   <button (click)="handleFilter('drink')">
    <img src="https://img.lovepik.com/free_png/32/44/58/77758PICFabbK171g5406_PIC2018.png_300.png" alt="drink">
  </button>
</div>
